name: NFLWebcast Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"  # every 15 minutes

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt || true

      - name: Run NFLWebcast scraper
        run: |
          python generate_nflwebcast.py

      - name: Upload VLC playlist
        uses: actions/upload-artifact@v3
        with:
          name: NFLWebcast_VLC
          path: NFLwebcast_VLC.m3u8

      - name: Upload TiviMate playlist
        uses: actions/upload-artifact@v4
        with:
          name: NFLWebcast_TiviMate
          path: NFLwebcast_TiviMate.m3u8
