name: sportsonline-scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "*/60 * * * *"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Update APT
        run: sudo apt-get update

      - name: Install Playwright Dependencies
        run: |
          sudo apt-get install -y \
            libnss3 \
            libatk1.0-0 \
            libatk-bridge2.0-0 \
            libcups2 \
            libdrm2 \
            libxkbcommon0 \
            libatspi2.0-0 \
            libwayland-client0 \
            libwayland-server0 \
            libgbm1 \
            libpango-1.0-0 \
            libpangocairo-1.0-0 \
            libcairo2 \
            libxcomposite1 \
            libxdamage1 \
            libxfixes3 \
            libxrandr2 \
            libasound2t64

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Playwright Browsers
        run: python -m playwright install chromium

      - name: Run scraper
        run: python sportsonline.py

      - name: Upload output playlists
        uses: actions/upload-artifact@v4
        with:
          name: playlists
          path: "*.m3u*"
